* {
margin:0;
padding:0;
}


#menu{
	margin: 80px auto 20px;
	height:30px;
	width:30%;
	font-size:15px;
	color:blue;
	font-family:"微软雅黑";
}
#jilu1{
	padding-right:25px;
}

#menu2{
	margin: 80px auto 20px;
	height:30px;
	width:30%;
	font-size:15px;
	color:blue;
	font-family:"微软雅黑";
}
#jilu2{
	padding-right:25px;
}
#menu3{
	margin: 80px auto 20px;
	height:30px;
	width:30%;
	font-size:15px;
	color:blue;
	font-family:"微软雅黑";
}
#jilu3{
	padding-right:25px;
}
a:hover {
color:#DE6632;
text-decoration:none;
}


#pages a {
margin:3px;
padding:3px;
color:#175CBB;
border:1px dashed #D5E4F4;
background:#F4FAFF;
}

#pages a:hover {
border:1px solid #7AB7F3;
color:#fff;
background:#7AB7F3;
text-decoration:none;
}

#pages span {
margin:3px;
padding:3px;
color:#fff;
background:#7AB7F3;
}




